.launch-card {
    border: solid black 2px ;
    border-radius: 25px;
    margin-bottom: 5px;
    color: #282327;
}

a {
    /* color: #282327; */
    color: #989096;
    text-decoration: none;

}
a:not(:last-of-type){
    margin-right: 8px;
}

a:hover {
    color: #DC11B4;
}


.top-menu {
   display: flex;
   justify-content: center;
   align-items: center;
}

.current{
    color: #282327;
}

.launch-link {
    color: #282327;
}

.subtext {
    color: #817D81;
}


.page-choose {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    color: #282327;
    
}

#page-number {
    margin-left: 10px;
    margin-right: 10px;
}
